body {
    background-color: #EFF8FF;
}

a {
    text-decoration: none;
}

/*Start Header*/
header {
    background-color: blueviolet;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.headerLogo {
    width: 210px;
    height: 38%;
    margin-left: 10px;
}

h1 {
    font-family: 'Armata', sans-serif;
    color: white;
    max-width: 1000px;
    margin-left: 100px;
    text-align: center;
    text-overflow: none;
}

.responsiveLogo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    width: 50%;
    min-width: 210px;
    max-width: 210px;
    height: auto;
}

/*EndHeader*/

/*StartMain*/
.teamIntro {
    text-align: center;
}

.lineIntro{
    background-color: #BDD1DF;
    height: 2px;
    width: 400px;
    margin: auto;
}

.teamIntro {
    font-family: 'Armata', sans-serif;
}

.teamIntro p {
    font-size: 2.5vw;
}

.menuTeam {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 10px;
    text-transform: uppercase;
    color:black;
}

.memberMenu {
    font-family: 'Armata', sans-serif;
    width: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}
.memberMenu img {
    border-radius: 100%;
    width: 80%;
}

/*memberProfiles*/

.memberProfiles{
    display: flex;
    align-items: flex-start;
}

.blueProfile {
    background-color: #BDF0FB;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    min-height: 210px;
}

.responsiveNoa {
    width: 50%;
    min-width: 220px;
    max-width: 220px;
    height: auto;
}

.profileTitle{
    font-size: 3.5vw;
    margin-left: 20px;
    font-family: 'Armata', sans-serif; 
}

.noaInfo {
    background-color: #E1FAFF;
    align-self: center;
    margin-left: 20px;
    font-family: 'Armata', sans-serif;
    font-size: 2.5vw;
}



