header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 250px;
    border: 2px solid red;
    height: 38%;
}

h1 {
    border: 3px solid yellow;
}

.headerLogo img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.teamIntro {
    text-align: center;
}

.lineIntro{
    background-color: #BDD1DF;
    height: 2px;
    width: 400px;
    margin: auto;
}

