body {
    background-color: #EFF8FF;
}
/*Start Header*/
header {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerLogo {
    width: 250px;
    border: 2px solid red;
    height: 38%;
}

h1 {
    border: 3px solid yellow;
    font-family: 'Armata', sans-serif;
}

.headerLogo img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

/*EndHeader*/

/*StartMain*/
.teamIntro {
    text-align: center;
}

.lineIntro{
    background-color: #BDD1DF;
    height: 2px;
    width: 400px;
    margin: auto;
}

.teamIntro {
    font-family: 'Armata', sans-serif;
}
.menuTeam {
    display: flex;
    flex-direction: row;
}

.memberMenu {
    font-family: 'Armata', sans-serif;
    width: 230px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}
.memberMenu img {
    border-radius: 100%;
    width: 100%;
}
.blueProfile {
    background-color: #BDF0FB;
    display: flex;
    justify-content: center;

}
.blueProfile img {
    width: 40%;
}




